body {

    height: 724px;
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(9, 48, 96), rgb(127, 195, 250), rgb(141, 183, 191), rgb(42, 126, 165));

}

nav {

    background-color: #1c617e;
    width: 100%;

}

ul {

    margin: 0px;
    padding: 0px;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

li {
    list-style-type: none;
    float: left;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
}

li:hover {
    background-color: black;
    cursor: pointer;
}

nav ul li a:hover {
    color: #fff;
}

button {
    border: #1c617e;
    background-color: #1c617e;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

}

button:hover {
    background-color: black;
}

nav ul button:hover {
    cursor: pointer;
    color: #fff;
}

form {
    box-shadow: 0 20px 20px rgba(11, 23, 109, 0.663), 0 20px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(204, 204, 204);
    width: 400px;
    height: 480px;

}

.box1 {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

label {
    margin: 10px;
    width: 300px;
    height: 45px;
    border-radius: 3px;
}

input {
    margin: 10px;
    width: 300px;
    height: 45px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: black;
}

input:hover {
    border: 3.5px solid #1c617e;
}

input:active {
    border: 3.5px solid #1c617e;
}

#log {
    width: 310px;
    height: 48px;
    border-radius: 3px;
    background-color: #1c617e;
    color: white;
    border: 1px solid #1c617e;
    font-size: 15px;
}

#log:hover {
    background-color: #15866a;
}