<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}

    {% endblock css %}
    <title>

        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="box">
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
             <li><a href="/dochospital">HOSPITAL</a></li> 
            <!-- <li><a href="/doctor">DOCTOR</a></li> -->
            <button class="bt0" id="adddoc" onclick="doc()">DOCTOR</button> 
            <button class="bt0" id="addpat" onclick="pat()">PATIENT</button> 
           
            </li>
        </ul>
    </nav>
</div>


    {% block body %}

    {% endblock body %}