<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style10.css') }}">

</head>
<body>

  <nav>
    <ul>
        <li><a href="/phome">HOME</a></li>
        <li><a href="/pprofile">PROFILE</a></li>
        <li><a href="/hospital">BOOK</a></li>
        <li><a href="/history">APPOINTMENTS</a></li>
        <li><a href="/medical">MEDICAL RECORDS</a></li>
        <li id="out"><a href="/logout" id="aout">LOGOUT</a></li> 


    </ul>
</nav>

  <table id="customers">
    <tr>
      <th>ID</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>PATIENTID</th>
      <th>DOCTORID</th>
      <th>DOCTOR NAME</th>
      <th>SPECIALIZATION</th>
      <th>HOSPITAL NAME</th>
      
   
    </tr>

    {% for item in query %}
        
    <tr>
      <td> {{item.apptid}} </td>
      <td> {{item.time}} </td>
      <td> {{item.date}} </td>
      <td> {{item.fa_pid}} </td>
      <td> {{item.fa_did}} </td>
      <td> {{item.dname}} </td>
      <td> {{item.specialization}} </td>
      <td> {{item.hname}} </td>
      
    </tr>

{% endfor %}
</table>
</body>
</html>
